body {
  margin-left: 3%;
  margin-right: 3%;
  font-size: large;
  background-color: bisque;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  padding-right: 5%;
  padding-top: 4%;
  width: 80%;
}
header{
    left: 5%;
    position: relative;
    top: 35px;
}
.left {
  width: 95%;
}

.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    position: relative;
    left: 30px;
}
.refresh {
  width: 100px;
  height: 30px;
  position: relative;
  left: 60px;
  top: 24px;
  border: 2px solid black;
}

.display {
  border: 2px solid black;
  position: relative;
  left:30px;
  width: 270px;
  top: 10px;
}

.display li {
  list-style: none;
  left: -40px;
  position: relative;
  width: 306px;
  
 
}

.items {
  position: relative;
  margin-left: 10px;

}

.names{
   display: inline-block;
   width: 200px;
}



.display li:nth-child(even) {
  background-color: darkgray;
}

.score {
  margin-left: 15%;
}

input {
  margin-bottom: 20px;
  display: block;
  border: 2px solid;
  height: 25px;
  width: 250px;
  font-size: large;
}

.submit {
 left: 40%;
  position: relative;
  border: 2px solid black;
}

.footer {
    position: relative;
    height: 30px;
    width: 97%;
    top:50px;
    border: 2px solid;
    
}
.footer span {
    position: relative;
    left: 30px;
    top: 3px;
}
button {
    font-size: medium;
    height: 30px;
}

button:hover{
    cursor: pointer;
    background-color: aquamarine;
}

::placeholder{
    position: relative;
    left: 10px;
    font-style: italic;
}


@media (min-width: 700px) and (max-width: 960px){
.left {
  width: 90%;
}

.content {
  flex-direction: row;
}

.score {
  margin-left: 15%;
}
}

@media (min-width: 961px){

    .content {
  flex-direction: row;
  padding-left: 15%;
  width: 60%;
}
.left {
  width: 90%;
  padding-left: 50px;
}
.submit {
    position: relative;
    float: left;
    left: 200px;
}

header {
    text-align: center;
    width: 90%;
}
}